/* universal start */

.judul1 {
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-text-fill-color: white;
}

.judul2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
}

.text-lg {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 70%;

    color: white;
    margin-top: 24px;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: justified;
    color: #282938;
}

.de-note {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.de-note2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;

    margin-top: 73px;
    margin-bottom: 105px;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}

/* .bg-biru {
    background: linear-gradient(37.35deg, #1C1E53 24.25%, #2026A9 88.46%);
} */

@media (max-width: 992px) {
    .judul1 {
        font-size: 42px;
        line-height: 52px;
    }

    .judul2 {
        font-size: 36px;
        line-height: 46px;
    }

    .text-lg {
        font-size: 16px;
        line-height: 24px;
    }

    .de-note {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 600px) {}

@media (max-width: 400px) {}

/* universal end  */

/* registrasi start a*/

/* #registrasi .row {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 58px;
} */

#registrasi .row>* {
    padding-left: 0;
    padding-right: 0;
}

#registrasi .row h6 {
    color: black;
}

#registrasi .login-bg {
    background-image: url(login-bg.png);
    background-size: cover;
}

#registrasi .login-login {
    position: absolute;
    margin-top: 72px;
    right: 0;
    margin-right: 8%;
}

#registrasi .login-login a {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #F5DE19;
    text-decoration: none;
}

/* #registrasi .bg-biru {
    padding: 178px;
} */

#registrasi label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: white;
}

#registrasi input {
    width: 100%;
    height: 50px;
    left: 354px;
    top: 339.5px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 21.12px;

    padding: 10px;
    padding-left: 19px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: black;
}

#registrasi .nama-message {
    padding-right: 90px;
}

#registrasi .Username-Konfirmasi-pss {
    padding-left: 90px;
}


#registrasi .tombol-registrasi {
    background-color: rgba(245, 222, 25, 0.84);
    height: 50px;
    width: 75%;
    padding: 5px;
    border-radius: 8px;
    margin-top: 54.48px;
    margin-bottom: 37px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#registrasi .tombol-registrasi a {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;

    color: black;
    text-decoration: none;
}

#registrasi .tombol-registrasi:hover {
    box-shadow: 0px 0px 4px 4px rgba(245, 222, 25, 0.1);
}

#registrasi input::-webkit-input-placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


    color: rgba(0, 0, 0, 0.27);
    vertical-align: top;
    text-align: left;
}

/*support mozilla*/
#registrasi input:-moz-input-placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


    color: rgba(0, 0, 0, 0.27);
    vertical-align: top;
    text-align: left;
}

/*support internet explorer*/
#registrasi input:-ms-input-placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(0, 0, 0, 0.27);
}

#registrasi .textakun {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 218px;

    color: white;
}

#registrasi .textakun a {
    color: #F5DE19;
}




@media (max-width: 1400) {}

@media (max-width: 1200) {}

@media (max-width: 991px) {
    #registrasi .nama-message {
        padding-right: 20px;
    }

    #registrasi .Username-Konfirmasi-pss {
        padding-left: 20px;
    }

    #registrasi .login-login {
        margin-right: 14%;
    }
}

@media (max-width: 768px) {
    #registrasi .nama-message {
        padding-right: 0;
    }

    #registrasi .Username-Konfirmasi-pss {
        padding-left: 0;
    }

    /* #registrasi .bg-biru {
        padding: 30px;
    } */
    #registrasi .login-login {
        margin-right: 15%px;
    }
}

@media (max-width: 576px) {
    /* #registrasi .bg-biru {
        padding: 20px;
    } */

    #registrasi .row {
        padding: 0px 30px 0px 30px;
    }

    #registrasi .login-login {
        margin-right: 35px;
    }
}

/* registrasi end */

/* login form start */
#login-form .login-bg {
    background-image: url(login-bg.png);
    background-size: cover;
}

#login-form .login-login {
    position: absolute;
    margin-top: 72px;
    right: 0;
    margin-right: 8%;
}

#login-form .login-login a {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #F5DE19;
    text-decoration: none;
}

/* #login-form .bg-biru {
    padding: 100px;
} */

/* #login-form .login-kartu {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 47px 77.2px 47px 77.2px;
} */

#login-form input {
    width: 100%;
    height: 50px;
    left: 354px;
    top: 339.5px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    padding: 17px;

    color: black;
}

#login-form label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: white;
}

#login-form input::-webkit-input-placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


    color: rgba(0, 0, 0, 0.27);
    vertical-align: top;
    text-align: left;
}

/*support mozilla*/
#login-form input:-moz-input-placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


    color: rgba(0, 0, 0, 0.27);
    vertical-align: top;
    text-align: left;
}

/*support internet explorer*/
#login-form input:-ms-input-placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(0, 0, 0, 0.27);
}

#login-form input.name {
    margin-bottom: 17px;
}

#login-form input.email {
    margin-bottom: 13px;
}

#login-form .lupa-pass {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

    color: white;
    text-decoration: none;
}

#login-form a.lupa-pass:hover {
    color: rgb(255, 255, 0.5);
}


/* #login-form .lupa-pass {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

    text-decoration: none;
    color: black;
    top: -56.26px;
} */

/* #login-form .row>* {
    padding: 0;
} */

#login-form .textakun {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 218px;

    color: white;
}

#login-form .textakun a {
    color: #F5DE19;
}

#login-form .tombol-login {
    background-color: rgba(245, 222, 25, 0.84);
    padding: 8px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin-top: 41px;

}

#login-form .tombol-login a {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;

    text-decoration: none;
    color: black;
}

#login-form .tombol-login:hover {
    box-shadow: 0px 0px 4px 4px rgba(245, 222, 25, 0.2);
}

#login-form .lupa-pass:hover {
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1600px) {
    /* #login-form .bg-biru {
        padding-left: 260px;
        padding-right: 260px;
    } */
}

@media (max-width: 1400px) {
    /* #login-form .bg-biru {
        padding: 70px;
    } */
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    #login-form .tombol-login {
        height: 54px;
        width: 40%;
    }

    /* #login-form .bg-biru {
        padding: 20px;
    } */

    #login-form .login-login {
        margin-right: 18%;
    }
}

@media (max-width: 576px) {
    #login-form .login-kartu {
        padding: 20px;
    }

    #login-form .login-login {
        margin-right: 20px;
    }
}

/* login form end */
